<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8_NCvwc2jbQvtmV2vdOG2Naadge0tblQ</string>
	<key>GCM_SENDER_ID</key>
	<string>411347189246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.talk</string>
	<key>PROJECT_ID</key>
	<string>g-plug-home-services</string>
	<key>STORAGE_BUCKET</key>
	<string>g-plug-home-services.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411347189246:ios:7f36d8ddbbc89b8e17d4af</string>
</dict>
</plist>